
@{
    ViewBag.Title = "CreateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Bildirim Ekleme Sayfası</h2>

<form method="post">
    <label>Adı Soyadı</label>
    <input type="text" class="form-control" name="NameSurname" />
    <br />
    <label>Bildirim Açıklaması</label>
    <textarea rows="4" class="form-control" name="Description"></textarea>
    <br />
    <label>Resim Yolu</label>
    <input type="text" class="form-control" name="ImageUrl" />
    <br />
    <button class="btn btn-danger">Bildirimi Kaydet</button>
</form>

