<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="https://avatars.mds.yandex.net/i?id=418179849467a1cf413bf3a1a8e3334796420f08-7543165-images-thumbs&n=13" alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="https://avatars.mds.yandex.net/i?id=a7006d96cbd26695f5012fe0162424dd8a101bfd-7552730-images-thumbs&n=13" alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="https://media.licdn.com/dms/image/v2/D4D0BAQEV6blgplECGQ/company-logo_100_100/company-logo_100_100/0/1694069648475?e=1749081600&v=beta&t=lSPfjWOfArSsQoEmTP4s7VcUJmyitMI6DctbPtiyGAs" alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/Templates/agency/assets/img/logos/google.svg" alt="..." /></a>
            </div>
        </div>
    </div>
</div>
