<div style="display: flex; width: 100%; height: 500px; background-color: #f1c40f; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
    <div style="width: 40%; padding: 30px; color: #fff; display: flex; flex-direction: column; justify-content: center; text-align: center; background-color: #f1c40f;">
        <h2 style="font-size: 24px; margin-bottom: 15px;">Agency Breeze</h2>
        <p style="margin-bottom: 10px;">Bahçelieveler , İSTANBUL</p>
        <p style="margin-bottom: 10px;">Telefon: <a href="tel:+905555555555" style="color: #fff; text-decoration: none;">0555 555 5555</a></p>
        <p><a href="mailto:cigersizmustafa5@gmail.com" style="color: #fff; text-decoration: none;">cigersizmustafa5@gmail.com</a></p>
    </div>
    <div style="width: 60%; padding: 20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12045.07346140352!2d28.840256261589893!3d40.99749899162891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa4af25e14c1d%3A0x75e589dbfab0084f!2zQmFow6dlbGlldmxlciwgxZ5pcmluZXZsZXIsIDM0MTAwIEJhaMOnZWxpZXZsZXIvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1741109803665!5m2!1str!2str" width="100%" height="100%" style="border: 0; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
