
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Müşteriler Sayfası</h4>
            <p class="card-description">
                Müşteriler ile ilgili işlemleri buradan yapabilirsiniz.
            </p>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>AdıSoyadı</th>
                            <th>Resmi</th>
                            <th>Katılım Tarihi</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.NameSurname</td>
                                <td><img src="@item.ImageUrl" style="width:75px;height:75px;" alt="Müşteri Görseli" /></td>
                                <td>@item.Hour</td>
                                <td><a class="btn btn-danger" href="/Customer/DeleteCustomer/@item.CustomerId"><i class="fa fa-trash"></i>Sil</a></td>
                                <td><a class="btn btn-success" href="/Customer/UpdateCustomer/@item.CustomerId"><i class="fa fa-pencil"></i>Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Customer/CreateCustomer" class="btn btn-info"><i class="mdi mdi-file-check btn-icon-append">Yeni Müşteri Girişi</i></a>
            </div>
        </div>
    </div>
</div>


